@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$desktop-view: 1440px;
$desktop-view: 915px;

#root{
    @media(min-width: $desktop-view){
        background: url("../images/bg-pattern-desktop.svg") left/61% no-repeat;
    }
}
.main-container{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--color-red-200);
    text-align: center;
    max-width: 154rem;
    justify-content: center;

    // layout
    margin: 3rem 0 8rem 0rem;
    display: grid;
    row-gap: 3rem;
    grid-template-columns: minmax(0, 3rem) 1fr minmax(0, 3rem);
    grid-template-areas: 
        ". logo ."
        "img img img"
        ". title ."
        ". message ."
        ". form ."
    ;
    @media(min-width: $desktop-view){
        text-align: left;

        // layout
        margin: 0 auto;
        grid-template-columns: minmax(0, 3rem) 1fr max-content;
        grid-template-rows: 1fr min-content 1fr 3fr;
        grid-template-areas: 
        ". logo img"
        ". title img"
        ". message img"
        ". form img"
    ;
        column-gap: 15rem;
        row-gap: 0;
        
    }
}

.logo{
    grid-area: logo;
    width: min(40%, 16rem);
    @media(min-width: $desktop-view){
        margin-top: 5rem;
    }
}
.picture{
    grid-area: img;
}
.title{
    margin: 0;
    margin-top: 3rem;
    grid-area: title;
    font-size: 4.4rem;
    line-height: 4.7rem;
    letter-spacing: 1.126rem;
    text-transform: uppercase;
    font-weight: 300;
    width: min-content;

    // layout
    justify-self: center;
    @media(min-width: $desktop-view){
        justify-self: left;
        margin: 7rem 0 2rem 0;
    }
    &--highlight{
        color: var(--color-red-700);
        font-weight: 400;
    }
}
.message{
    grid-area: message;

    margin: 0;
    letter-spacing: -.083rem;
    max-width: 39ch;
    justify-self: center;
    @media(min-width: $desktop-view){
        line-height: 2.7rem;
        justify-self: start;

    }
}
.form{
    grid-area: form;
    display: grid;
    width: min(100%, 38rem);
    justify-self: center;

    grid-template-columns: minmax(max-content, 1fr) 4rem 6.2rem;
    grid-template-rows: min-content;
    @media(min-width: $desktop-view){
        justify-self: start;
    }
    &__email{
        border-radius: 3rem;
        height: 4.5rem;
    	border: var(--color-red-200) .1rem solid;
        color: var(--color-red-200);
        padding-left: 2rem;

        // layout
        grid-column: 1/-1;
        grid-row: 1;
    }
    &__error{
        grid-column: 1 / -1;
        text-align: left;
        margin: .5rem 0 0 2rem;
        &-icon{
            // layout
            grid-column: 2;
            grid-row: 1;
            align-self: center;
            justify-self: center;
        }
    }
    &__submit{
        cursor: pointer;
        background:  url("../images/icon-arrow.svg") no-repeat center center, var(--gradient-red) ;

        border-radius: 2rem;
        border: none;
        max-height: 4.5rem;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.205);
        // layout
        grid-column: 3;
        grid-row:1;
        

    }
}